{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div id="index">
  <div class="notice-container">
    <img src="{% static 'images/open.jpeg' %}" id="img-index-open">
    <table class="notice-table">
      {% for notice in notice_list %}
      <tr class="notice-row">
        <td class="notice-date">{{ notice.created_date|date:"Y. m. d" }}</td>
        <td class="notice-title">{{ notice.title }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <img src="{% static 'images/inainamain.gif' %}" id="img-index-intro">
</div>
{% endblock %}