html, body {
  font-size: 13px;
  color: #666; }

img {
  max-width: 100%; }

#wrap {
  width: 962px;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    #wrap {
      width: 100%; } }
  #wrap #content {
    margin-top: 20px; }
    @media screen and (max-width: 1000px) {
      #wrap #content {
        margin-top: 0; } }
