@import "_var.sass";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

$COLOR_BG_GRAY: rgba(255, 255, 255, 0.9);
$COLOR_BORDER_GRAY: #ddd;
$COLOR_BORDER_LIGHTGRAY: #eee;
$COLOR_FONT: #333;
$COLOR_FONT_GRAY: #666;
$HEIGHT_HEADER: 59px;

html, body {
  font-family: "Noto Sans KR", serif;
  font-size: 12px;
  color: #666;
  font-weight: 300;
}

img {
  max-width: 100%;
}

#wrap {
  width: 770px;
  margin: 0 auto;
  @media screen and (max-width: $width-mobile) {
    width: 100%;
  }

  #content {
    margin-top: 20px;
    @media screen and (max-width: $width-mobile) {
      margin-top: 0;
    }
  }
}
