@import "_var.sass";

#index {
  display: flex;
  flex-direction: row;

  #img-index-intro {
    object-fit: contain;
  }
}

.notice-container {
  display: flex;
  flex-direction: column;
  width: 289px;

  .notice-table {
    font-size: 12px;
    line-height: 1.3;

    .notice-date {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: $width-mobile) {
  #index {
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
  }
  .notice-container {
    margin-bottom: 20px;
  }
}
